
$grandBg: var(--grandBg);
$bg: var(--bg);

$color500: var(--color500);
$color500: var(--color500);
$color600: var(--color600);
$color700: var(--color700);

$hotColor: var(--hotColor);

$gray300: #f8f8fa;
$gray500: #eeeef1;
$gray700: #abacb5;
$gray900: #707077;

$border-color: var(--border-color);

$danger: #eb5e5e;
$success: #80ce9d;

$select-border: var(--select-border);
$select-focus: var(--select-focus);
$select-arrow: var(--select-arrow);
