:root {
  --grandBg: #e7e7e9;
  --bg: #ffffff;

  --color400: #d3d3d3;
  --color400: #9d9d9f;
  --color500: #646466;
  --color600: #494949;
  --color700: #1c1c25;

  --border-color: #f4f4f6;

  --hotColor: #6e48e7;

  --select-border: #777;
  --select-focus: blue;
  --select-arrow: #777;
}
