@import 'core';

.strength {
  >.strengthBar {
    display: block;
    list-style: none;
    padding: 0;
    vertical-align: 2px;
    width: calc(100% - 10px);
    margin: 0 auto;

    > .point {
      background: $border-color;
      //border-radius: 2px;
      display: inline-block;
      height: 5px;
      //margin-right: 1px;
      //width: calc(25% - 1px);
      width: 25%;

      &:first-of-type {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }

      &:last-of-type {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }
  }

  > p {
    font-weight: bold;
    font-size: .8rem;
    margin: 10px auto 0;
    text-align: center;
    color: $gray700;
  }
}







